@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* General */
* {
    font-family: 'Montserrat', sans-serif;
}

/* Body */
/* https://cssgradient.io/ */
body {
    min-height: 100vh;
    background: linear-gradient(27deg, rgba(2, 0, 36, 1) 26%, rgba(9, 9, 121, 1) 58%, rgba(0, 212, 255, 1) 100%);
    background-color: rgb(2, 0, 36);
    display: flex;
    flex-direction: column;
}

.main {
    display: flex;
    min-height: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    flex-grow: 1;
}

/* Main - Left (Image) */
.main-left-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Profile Picture */
#profile-picture img {
    width: 339px;
    height: 453px;
    margin-top: -100px;
    display: block;
    border-style: solid;
    border-width: 2px;
}

/* Main - Right (Text) */
.main-right-text {
    display: flex;
    flex-basis: 40%;
    align-items: center;
    justify-content: center;
}

/* Text */
.text-box {
    display: flex;
    flex-direction: column;
    margin-top: -200px;
}

.text-box h1 {
    font-size: 5em;
    color: white;
}

.text-box p {
    font-size: large;
    color: white;
    line-height: 1.5;
}