@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* General */
* {
    font-family: 'Montserrat', sans-serif;
}

/* Background */
/* https://cssgradient.io/ */
body {
    min-height: 100vh;
    background: linear-gradient(27deg, rgba(2,0,36,1) 26%, rgba(9,9,121,1) 58%, rgba(0,212,255,1) 100%);
    background-color: rgb(2,0,36);
    display: flex;
    flex-direction: column;    
}

.main {
    display: flex;
    min-height: 100%;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    flex-grow: 1;
}

/* Link and Logo Urls */
.link-and-logo{
    margin-bottom: 40px;
    display: flex;
    align-items: center;
}

.link-and-logo a{
    vertical-align: top;
    text-align: center;
    text-decoration: none;
    color: white;
}

.link-and-logo:hover{
    opacity: 0.7;
}

.link-and-logo img{
    height: 50px;
    width: 50px;
    vertical-align: middle;
}

.link-and-logo span {
    font-size: larger;
    margin-left: 15px;
}

.message h1 {
    font-size: 5em;
    color: white;
}